<% @ubicaciones.each do |p| %>
<%= link_to "Ubicación #{p.id}" %>
<% end %>
<div id="map"></div>


<script type="text/javascript" >
    var markers=[];
 <% @ubicaciones.each do |p| %>
  var marker = { latitude: parseFloat("<%= p.latitude %>"), longitude: parseFloat("<%= p.longitude %>") }
  markers.push(marker);
 <% end %>
 $(document).ready(function() {
  for (var i = 0; i < markers.length; i++) {
            var latlng = new google.maps.LatLng(markers[i].latitude, markers[i].longitude);
            var marker = new google.maps.Marker({
                position: latlng,
                map: map
            });
        };
  mapa.init();
 });


        
 </script>

